@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

/* nav-section style start */

.nav-section {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #3a3a3a;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}

nav ul li a:hover {
  background-color: #e02c6d;
  color: #fff;
  transform: scale(1.2);
  border-radius: 10px;
}

/* Home style start */
#home img {
  transition: transform 1s ease-in;
}
#home img:hover {
  transform-origin: center;
  transform: scale(1.2) rotate(8deg);
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 582px;
  height: 270px;
}

.left h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}

.left p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin: 16px 0;
}
.right {
  width: 475px;
  height: 475px;
}

.cmn-btn {
  color: #ffffff;
  background: #e02c6d;
  text-align: center;
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}
.cmn-btn:hover {
  background-color: transparent;
  color: #e02c6d;
  transform: scale(1.2);
}
.brand-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 50px;
  margin-right: 10px;
}

/* popular-section */

.popular-section {
  width: 1047px;
  height: 1662px;
}
.popular-section h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
  margin: 50px 0 20px 0;
}
#card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.card {
  width: 329px;
  height: 471px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body {
  text-align: left;
  padding: 16px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.4s;
}

.card img:hover {
  transform: scale(1.02);
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  text-align: left;
}

.description .amount {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.description .fas {
  color: orange;
  font-size: 10px;
}

.description .rate {
  font-size: 14px;
  color: #5e6366;
}
.description .about-product {
  font-size: 14px;
  color: #5e6366;
  letter-spacing: 0.018em;
}

#right-btn {
  text-align: right;
  font-size: 16px;
  margin: 15px 35px 0 0;
  float: right;
}

/* Contact */

.contact-main {
  position: absolute;
  width: 1110px;
  height: 270px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  left: 119px;
  margin-top: -50px;
}

.contact-details {
  text-align: center;
  padding: 20px 0;
}
.contact-details h3 {
  font-size: 38px;
  color: #0a0826;
  font-weight: bold;
}

.contact-details p,
address {
  font-size: 0.8rem;
}

.g-map {
  height: 250px;
}

/* Footer */

footer {
  height: 180px;
  background: #0a0826;
  text-align: center;
  margin-top: 380px;
}
.parent {
  padding: 30px 0;
}

.child {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: 0.4s;
}

.social-icons a:hover {
  background-color: #fff;
  color: #18191f;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  .home {
    flex-direction: column;
    grid-row-gap: 50px;
    width: 100%;
    padding: 0 30px;
  }

  .left {
    width: 100%;
    margin-bottom: 150px;
    justify-content: center;
    text-align: center;
  }

  .right {
    justify-content: center;
    align-items: center;
  }
  .right img {
    width: 100%;
    justify-content: center;
  }

  .popular-section {
    width: 329px;
    height: 4504px;
  }

  #card-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }

  /* Contact */

  .contact-main {
    width: 404px;
    margin-top: 80px;
    left: 50px;
  }

  .contact-details {
    text-align: center;
    padding: 10px;
  }
  .contact-details h3 {
    font-size: 20px;
    color: #0a0826;
    font-weight: bold;
  }

  .contact-details p,
  address {
    font-size: 0.8rem;
  }

  .g-map {
    width: 100%;
    padding: 10px;
  }

  footer {
    margin-top: 450px;
  }
}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {
  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    padding: 5px 5px;
  }

  .home {
    flex-direction: column;
    grid-row-gap: 50px;
    width: 100%;
    padding: 0 30px;
  }

  .left {
    width: 100%;
    margin-bottom: 150px;
    justify-content: center;
    text-align: center;
  }

  .right {
    justify-content: center;
    align-items: center;
  }
  .right img {
    width: 100%;
    justify-content: center;
  }

  .popular-section {
    width: 600px;
    height: 2500px;
  }

  #card-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }

  .contact-main {
    width: 100%;
    margin-top: 80px;
    left: -5px;
  }

  .contact-details {
    text-align: center;
    padding: 10px;
  }
  .contact-details h3 {
    font-size: 20px;
    color: #0a0826;
    font-weight: bold;
  }

  .contact-details p,
  address {
    font-size: 0.8rem;
  }

  .g-map {
    width: 100%;
    padding: 10px;
  }

  footer {
    margin-top: 450px;
  }
} */
